@use "../../Styles/mixins" as *;
@use "../../Styles/variables" as *;

.warehouse {

  &__wrapper {
    display: flex;
    padding: 32px 24px 24px 24px;


    @include tablet {
      border-bottom: 1px solid $secondary-color-cloud;
      padding: 32px 24px 21px 24px;
    }

    @include desktop {
      padding-left: 32px;
    }
  }

  &__title {
    padding-left: 5px;
    font-weight: 600;
  }

  &__buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    height: 70px;
    margin-top: 16px;
    background-color: $background-grey;

    @include tablet {
      justify-content: end;
      padding-right: 32px;
      width: 100%;
    }
  }

  &__button {
    width: 110px;
    font-size: 9px;
    background-color: $primary-color-white;
    border: 1px solid $secondary-color-cloud;

    @include tablet {
      width: auto;
      font-size: 13px;
    }

    &-submit {
      color: $primary-color-white;
      background-color: $primary-color-instock-indigo-blue;
    }
  }
}
