@use "../../Styles/mixins" as *;
@use "../../Styles/variables" as *;

.warehouse {
  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    @include tablet {
      flex-direction: row;
      padding-top: 16px;
    }
  }

  &__details {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 16px 16px;
    border-top: 1px solid $secondary-color-clud;

    @include tablet {
      border-top: none;
      border-right: 1px solid $secondary-color-clud;
      width: 50%;
      padding: 0 16px;
    }

    &-title {
      padding: 0 16px;
    }

    &-label {
      margin-top: 16px;
      margin-bottom: 4px;
      padding: 0 16px;
    }

    &-input {
      height: 36px;
      border-radius: 20px;
      margin: 0 16px;
      padding: 0 16px;
      border: 1px solid $secondary-color-clud;

      @include tablet {
        height: 38px;
      }
    }
  }

  &__contact {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 16px 16px;
    border-top: 1px solid $secondary-color-clud;

    @include tablet {
      border-top: none;
      width: 50%;
      padding: 0 16px;
    }
  }
}
