@use "../../Styles/mixins" as *;
@use "../../Styles/variables" as *;

.warehouse {
  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
