@use "../../Styles/mixins" as *;
@use "../../Styles/variables" as *;

.warehouse {
  &__form {
    display: flex;
    flex-direction: column;

    justify-content: center;
    overflow: hidden;

    @include tablet {
      align-items: center;
      padding-top: 16px;
    }

    @include desktop {
      padding-left: 12px;
    }
  }

  &__details {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 16px;
    margin-bottom: 16px;
    border-top: 1px solid $secondary-color-cloud;

    @include tablet {
      border-top: none;
      border-right: 1px solid $secondary-color-cloud;
      width: 50%;
      padding: 0 16px;
    }

    &-title {
      padding: 0 16px;
      font-weight: 500;
      margin-bottom: 0px;
      margin-top: 0;
    }

    &-label {
      margin-top: 16px;
      margin-bottom: 4px;
      padding: 0 16px;
      font-size: 13px;
    }

    &-input {
      width: auto;
      font-size: 11px;
      margin: 0 16px;
      padding: 0 13px;
      border: 1px solid $secondary-color-cloud;
      @include mobile-p2-body-medium;

      @include tablet {
        @include p2-body-medium;
        height: 38px;
        width: 90%;
      }
    }

    &-wrapper {
      @include tablet {
        display: flex;
        width: 100%;
      }
    }
  }

  &__contact {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 16px 16px;
    border-top: 1px solid $secondary-color-cloud;

    @include tablet {
      border-top: none;
      width: 50%;
      padding: 0 16px;
    }
  }
}
