@use "../../Styles/mixins" as *;
@use "../../Styles/variables" as *;

.warehouse {
  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-top: 1px solid $secondary-color-clud;
  }

  &__details {
    display: flex;
    flex-direction: column;
    width: 100%;

    &-label {
      margin-top: 16px;
      margin-bottom: 4px;
    }

    &-input {
      height: 36px;
      border-radius: 20px;
      padding: 0 16px;
      border: 1px solid $secondary-color-clud;

      @include tablet {
        height: 38px;
      }
    }
  }

  &__contact {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  &__buttons {
    margin-top: 16px;
    background-color: $background-grey;
  }
}
