@use "../../Styles/mixins" as *;
@use "../../Styles/variables" as *;

* {
    margin: 0;
}

.inventory {

    &-heading {
        display: flex;
        flex-direction: row;
        align-items: baseline;
        gap: 0.625rem;
        padding: 2rem 1.5rem 1.5rem 1.5rem;
        border-bottom: 1px solid $secondary-color-cloud;
        @include tablet{
            padding: 2rem 2rem 1.3125rem 2rem;
        }
     }

    &-section {
        @include tablet {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
        }

        &__details {
            display: flex;
            flex-direction: column;
            padding: 1rem 1.5rem 1.5rem;
            border-bottom: 1px solid $secondary-color-cloud;
            @include tablet{
                padding: 1rem 2rem 1.5rem;
                border-right: 1px solid $secondary-color-cloud;
                border-bottom: none;
            }

            h2{
                margin: 0;
            }



            input,
            select,
            textarea {
                height: 2rem;
                padding: 0.25rem 0.75rem;
                margin-bottom: 0;
                border-radius: 1.25rem;
                border: 1px solid $secondary-color-cloud;
                @include tablet {
                    height: 2.375rem;
                }

                &:focus {
                    border: none;
                    outline: 0;
                    border: 0.125rem solid $primary-color-instock-indigo-blue;
                }
            }

            select {
                width: 100%;
                appearance: none;
                background-image: url("../../assets/Icons/arrow_drop_down-24px.svg");
                background-repeat: no-repeat;
                background-position: right 0.625rem center;
                background-size: 1.5rem;
                padding-left: 1rem;
                @include mobile-p2-body-medium;
                @include tablet{
                    @include p2-body-medium;
                };
            }

            textarea {
                box-sizing: border-box;
                @include mobile-p2-body-medium;
                width: 100%;
                height: 6.5rem;
                resize: none;
                @include tablet {
                    height: 7.5rem;
                    @include p2-body-medium;
                }
            }

            &-radio {
                display: flex;
        flex-direction: row;
        align-items: center;
                gap: 5rem;

                input[type="radio"] {
                    height: 1rem;
                    width: 1rem;
                }

                &-stock {
                    display: flex;
                    align-items: center;
                    gap: 0.25rem;
                }

                label {
                    @include mobile-p2-body-medium;
                    @include tablet{
                        @include p2-body-medium;
                    }
                }
            }

            @include tablet {
                margin: 1.5rem 0;
                padding: 0 2rem 0.75rem;
                width: 100%;
            }
        }
        &__details-lower{
            border: none;
        }
    }

    &-buttons {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1rem;
        height: 4.375rem;
        padding: 0 1rem;
        background-color: $background-grey;

        button {
            height: 2.25rem;
            width: 100%;
            @include mobile-p2-body-medium;

            @include tablet {
                @include p2-body-medium;
                height: 2.375rem;
                width: auto;
            }
        }

        &__cancel {
            background-color: $primary-color-white;
            border: 0.0625rem solid $secondary-color-cloud;
            color: $secondary-color-slate;

            &:hover {
                border: 0.0625rem solid $primary-color-instock-indigo-blue;
                color: $primary-color-instock-indigo-blue;
            }
        }

        &__add {
            background-color: $primary-color-instock-indigo-blue;
            color: $primary-color-white;

            &:hover {
                background-color: $background-graphite;
            }
        }

        @include tablet {
            justify-content: right;
            padding: 0 2rem;
        }
    }
}
