@use "../../Styles/fonts" as *;
@use "../../Styles/mixins" as *;
@use "../../Styles/variables" as *;

.background {
  @include tablet {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999; // to make sure the modal is on top
  }

  .delete {
    background: $primary-color-white;
    padding: 2rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    height: 100vh;

    &-close {
      text-align: right;
    }

    &-notification {
      height: 90vh;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      &_text {
        h1 {
          font-weight: 600;
          color: $primary-color-instock-black;

          @include tablet {
            margin-top: 0;
          }
        }

        p {
          @include mobile-p2-body-medium;
          color: $primary-color-instock-black;
          @include tablet {
            margin-right: 4rem;
          }
        }
      }

      &_buttons {
        display: flex;
        justify-content: space-between;
        gap: 1rem;
        font-weight: 600;

        button {
          height: 2.25rem;
          width: 10.1875rem;

          @include tablet {
            height: 2.375rem;
            width: auto;
          }
        }

        &-cancel {
          border: 0.0625rem solid $secondary-color-cloud;
          color: $secondary-color-slate;

          &:hover {
            border: 0.0625rem solid $primary-color-instock-indigo-blue;
            color: $primary-color-instock-indigo-blue;
          }
        }

        &-delete {
          background-color: $supporting-color-red;
          color: $primary-color-white;

          &:hover {
            background-color: $background-graphite;
          }
        }

        @include tablet {
          justify-content: right;
          padding: 1.5rem 0;
        }
      }
      @include tablet {
        height: auto;
        padding: 0 3rem 0 3rem;
      }
    }
    @include tablet {
      width: 42rem;
      height: auto;
      margin: 8.125rem 3rem auto 3rem;
      padding: 1rem;
      border-radius: 0.2rem;
    }
  }
}
