@use "../../Styles/fonts" as *;
@use "../../Styles/mixins" as *;
@use "../../Styles/variables" as *;

.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;

  .delete {
    background: $primary-color-white;
    width: 100%;
    height: 100%;
    padding: 1rem;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    box-shadow: none;
    border-radius: 0;

    &-close {
      text-align: right;
      margin-bottom: 1rem;
    }

    &-notification {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: stretch;
      height: auto;
      flex-grow: 1;

      &_text {
        margin-bottom: 1rem;
        width: 100%;

        h1 {
          font-weight: 600;
          color: $primary-color-instock-black;
          margin-top: 0;
          margin-bottom: 1rem;
        }

        p {
          @include mobile-p2-body-medium;
          color: $primary-color-instock-black;
          margin-right: 1rem;
        }
      }

      &_buttons {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 1rem;
        font-weight: 600;
        margin-top: auto;

        button {
          height: 2.25rem;
          width: 100%;

          @include tablet {
            height: 2.375rem;
            width: auto;
          }
        }

        &-cancel {
          border: 0.0625rem solid $secondary-color-cloud;
          color: $secondary-color-slate;

          &:hover {
            border: 0.0625rem solid $primary-color-instock-indigo-blue;
            color: $primary-color-instock-indigo-blue;
          }
        }

        &-delete {
          background-color: $supporting-color-red;
          color: $primary-color-white;

          &:hover {
            background-color: $background-graphite;
          }
        }
        @include tablet {
          justify-content: flex-end;

        }
      }
    }

    @include tablet {
      width: 42rem;
      padding: 2rem 3rem;
      height: auto;
      border-radius: 0.2rem;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      max-height: 80vh;
    }
  }
}