@use '../../Styles/fonts' as *;
@use '../../Styles/mixins' as *;
@use '../../Styles/variables' as *;

p{
    @include mobile-p2-body-medium;
    font-weight: 400;
    color: $primary-color-instock-black;
    margin: 0;
}

.main-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    border-radius: 1px;
    box-shadow: 0 2px 5px 0 rgba(19, 24, 44, .1);
    margin: 24px;

    &__row-top{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: baseline;
        padding: 24px;
        border-bottom: 1px solid $secondary-color-cloud;
    }

    &__row-title{
        display: flex;
        flex-direction: row;
        align-items: baseline;
        gap: 10px;
    }

    &__row-bottom{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        padding: 24px;
        gap: 16px;
        @include tablet{
            flex-direction: row;
        }
    }

    &__info-left{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        width: 100%;
        padding-right:16px;
        gap: 16px;
        @include tablet{
            border-right: 1px solid $secondary-color-slate;
        }
    }
    &__info-right{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        width: 100%;
        gap: 16px;
    }

    &__info-split{
        display: flex;
        flex-direction: row;
        width: 100%;
        align-items: flex-start;
        
    }
    &__item-quantity{
        width: 70%;
    }

}

.small-button{
    width: 36px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.item-title{
    margin: 0;
}

.item-subheader{
   @include mobile-p3-body-small;
   text-transform: uppercase;
   font-weight: 600;
   color: $secondary-color-slate;
   padding-bottom: 8px;
}

.item-status{
    height: 24px;
    margin: 0;
    padding: 0 8px;
    border:none;
    border-radius:20px;
    text-transform: uppercase;
    font-weight: 600;
    &--inStock{
        background-color: rgba(21, 132, 99, .07);
        color: rgba(21, 132, 99, 1);
    }
    &--outOfStock{
        background-color: rgba(201, 69, 21, .07);
        color: rgba(201, 69, 21, 1)
    }

    @include tablet{
        height: 26px;
    }
}