@use '../../Styles/fonts' as *;
@use '../../Styles/mixins' as *;
@use '../../Styles/variables' as *;

p{
    @include mobile-p2-body-medium;
    font-weight: 400;
    color: $primary-color-instock-black;
    margin: 0;
}

*{
    box-sizing: border-box;
}

.main-container{
    display: flex;
    flex-direction: column;
    justify-content: center;


    &__row-top{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: baseline;
        padding: 32px 40px 24px 40px;
        border-bottom: 1px solid $secondary-color-cloud;
        @include tablet{
            padding: 32px 40px 21px 40px;
        }
    }

    &__row-title{
        display: flex;
        flex-direction: row;
        align-items: baseline;
        gap: 10px;
    }

    &__row-bottom{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        padding: 16px 40px 18px 40px;
        gap: 16px;
        @include tablet{
            flex-direction: row;
            gap: 24px;
            padding: 16px 40px 32px 40px;
        }
    }

    &__info-left{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        width: 100%;
        gap: 16px;
        @include tablet{
            width: 50%;
            padding-right:32px;
            gap: 32px;
            border-right: 1px solid $secondary-color-cloud;
        }
    }
    &__info-right{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        width: 100%;
        gap: 16px;
        @include tablet{
            width: 50%;
            gap: 32px;
            padding-left: 8px;
        }
    }

    &__info-split{
        display: flex;
        flex-direction: row;
        width: 100%;
        align-items: flex-start;
        
    }
    &__item-quantity{
        width: 70%;
    }

}

.edit-button{
    width: 36px;
    height: 36px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    @include tablet{
        height: 38px;
        width: 81px;
        border-radius: 20px;
        gap: 8px;
    }
}

.edit-icon{
    width: 20px;
    height: 20px;
}
.button-text{
    display:none;
    @include tablet{
        display: inline;
        color: white;
        @include p2-body-medium;
    }
}

.item-title{
    margin: 0;
}

.item-header{
   @include mobile-p3-body-small;
   text-transform: uppercase;
   font-weight: 600;
   color: $secondary-color-slate;
   padding-bottom: 4px;
}

