@font-face {
  font-family: "Titillium";
  src: url(../Components/Assets/Font/TitilliumWeb-Regular.ttf);
  src: url(../../assets/font/TitilliumWeb-Black.ttf);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Titillium";
  src: url(../Components/Assets/Font/TitilliumWeb-Bold.ttf);
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Titillium";
  src: url(../Components/Assets/Font/TitilliumWeb-Italic.ttf);
  font-weight: 400;
  font-style: normal;
}
