@font-face {
  font-family: "Titillium";
  src: url(../../assets/font/TitilliumWeb-Black.ttf);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Titillium";
  src: url(../../assets/font/TitilliumWeb-Bold.ttf);
  font-weight: 700;
  font-style: bold;
}

@font-face {
  font-family: "Titillium";
  src: url(../../assets/font/);
  font-weight: 400;
  font-style: italic;
}
