@use '/src/Styles/mixins' as *;

.status-tag{
    height: 24px;
    margin: 0;
    padding: 0 8px;
    border:none;
    border-radius:20px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;

    p {
        font-weight: 600;
    }
    &--inStock{
        background-color: rgba(21, 132, 99, .07);
        p {
            color: rgba(21, 132, 99, 1);
        }
    }
    &--outOfStock{
        background-color: rgba(201, 69, 21, .07);
        p {
            color: rgba(201, 69, 21, 1)
        }
    }

    @include tablet{
        height: 26px;
    }
}