@use "../../Styles/mixins" as *;
@use "../../Styles/variables" as *;

.warehouse {
  &__add {
    background-color: $primary-color-white;
    margin: 0;
    border-radius: 0.3125rem;
    box-shadow: 1px 1px 5px $secondary-color-cloud;
    // max-width: 80rem;

    @include tablet {
      margin: 0;
    }

    @include desktop {
      margin: 0;
    }
  }

  &__wrapper {
    display: flex;
    padding-left: 1rem;
    align-items: center;
    height: 5.6875rem;

    @include tablet {
      border-bottom: 1px solid $secondary-color-cloud;
    }

    @include desktop {
      padding-left: 2rem;
    }
  }

  &__title {
    padding-left: 0.3125rem;
    font-weight: 500;
  }
  &__buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.625rem;
    height: 4.375rem;
    margin-top: 1rem;
    background-color: $background-grey;

    @include tablet {
      justify-content: end;
      padding-right: 2rem;
      width: 100%;
    }
  }

  &__button {
    width: 110px;
    font-size: 0.5625rem;
    background-color: $primary-color-white;
    border: 1px solid $secondary-color-cloud;

    @include tablet {
      width: auto;
      font-size: 0.8125rem;
    }

    &-submit {
      color: $primary-color-white;
      background-color: $primary-color-instock-indigo-blue;
    }
  }

  &__link {
    @include tablet {
      margin-top: 0.3125rem;
    }
    @include desktop {
      margin-top: 0.625rem;
    }
  }
}
