@use "../../Styles/mixins" as *;
@use "../../Styles/variables" as *;

.warehouse {
  &__add {
    background-color: $primary-color-white;
    margin: -30px 16px 0;
    padding: 16px 16px;
    border-radius: 5px;
    box-shadow: 5px;
  }
}
