@use "../../Styles/mixins" as *;
@use "../../Styles/variables" as *;

.header {
  background-color: $background-graphite;
  height: 200px;
  font-family: "Titillium";
  @include tablet{
    height: 186px;
  }

  &__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    padding: 24px;

    @include tablet {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 28px;
    }
  }

  &__wrapper-logo {
    height: 28px;
    @include tablet{
      padding-top: 0;
    }
  }

  &__wrapper-buttons {
    display: flex;
    justify-content: space-around;
    width: 100%;

    @include tablet {
      width: auto;
      margin:0;
    }
  }

  &__button {
    background-color: inherit;
    color: $secondary-color-cloud;
    font-weight: 600;

    &:hover {
      text-decoration: underline;
      color: $primary-color-white;
    }

    &:active {
      background-color: $primary-color-instock-black;
      color: $primary-color-white;
      text-decoration: none;
    }
  }
}

.active-button {
  background-color: $primary-color-instock-black;
  text-decoration: none;
  color: $primary-color-white;

}
