@use "../../Styles/mixins" as *;
@use "../../Styles/variables" as *;

.header {
  background-color: $background-graphite;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 130px;
  font-family: "Titillium";

  @include tablet {
    flex-direction: row;
    justify-content: space-between;
    padding: 0 32px 30px;
    height: 130px;
  }

  @include desktop {
    padding: 0 120px 50px;
  }

  &__wrapper-logo {
    margin-bottom: 16px;
  }

  &__wrapper-buttons {
    display: flex;
    justify-content: space-around;
    width: 100%;

    @include tablet {
      width: auto;
    }
  }

  &__button {
    background-color: inherit;
    color: $secondary-color-clud;

    &:hover {
      text-decoration: underline;
      color: $primary-color-white;
    }

    &:active {
      background-color: $primary-color-instock-black;
    }
  }
}
