@use "../../Styles/mixins" as *;
@use "../../Styles/variables" as *;

.header {
  background-color: $background-graphite;
  height: 12.5rem;
  font-family: "Titillium";
  @include tablet{
    height: 11.625rem;
  }

  &__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    padding: 1.5rem;


    @include tablet {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 1.75rem;
    }
    @include desktop {
      // padding: 1.75rem 8.125rem;
      padding: 1.75rem 0;
      margin: auto;
      box-sizing: content-box;
      max-width: 1280px;
      margin: auto;
    }
  }



  &__wrapper-logo {
    height: 1.75rem;
    @include tablet{
      padding-top: 0;
    }
  }

  &__wrapper-buttons {
    display: flex;
    justify-content: space-around;
    width: 100%;

    @include tablet {
      width: auto;
      margin:0;
    }
  }

  &__button {
    background-color: inherit;
    color: $secondary-color-cloud;
    font-weight: 600;

    &:focus {
      background-color: $primary-color-instock-black;
      color: $primary-color-white;
      text-decoration: none;
    }

    &:hover {
      text-decoration: underline;
      color: $primary-color-white;
    }
  }
  .active-button {
    background-color: $primary-color-instock-black;
    color: $primary-color-white;
    font-weight: 600;
  }
}

