@use "../../Styles/mixins" as *;
@use "../../Styles/variables" as *;

.header {
  background-color: $background-graphite;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  padding-bottom: 5rem;
  font-family: "Titillium";

  @include tablet {
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 6rem;
  }

  &__wrapper-logo {
    height: 23px;
  }

  &__wrapper-buttons {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 16px;

    @include tablet {
      width: auto;
    }
  }

  &__button {
    background-color: inherit;
    color: $secondary-color-cloud;

    &:hover {
      text-decoration: underline;
      color: $primary-color-white;
    }

    &:active {
      background-color: $primary-color-instock-black;
    }
  }
}

.active-button {
  background-color: $primary-color-instock-black;
}
