@use "../../Styles/mixins" as *;
@use "../../Styles/variables" as *;

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem auto;

  &__text {
    color: $secondary-color-slate;
    font-weight: 500;
    font-size: 0.5rem;

    @include tablet {
      font-size: 0.625rem;
    }
  }
}
