@use "../../Styles/mixins" as *;
@use "../../Styles/variables" as *;

.footer {
  display: flex;
  align-items: center;
  justify-content: center;

  &__text {
    color: $secondary-color-slate;
    font-weight: 500;
    font-size: 8px;

    @include tablet {
      font-size: 10px;
    }
  }
}
