@use "./styles/partials/mixins";
@use "./styles/partials/variables";

body {
  background-color: $background-grey;
  font-family: "Titillium", "Verdana";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1 {
  font-size: 28px;
  line-height: 36px;

  @include tablet {
    font-size: 32px;
    line-height: 40px;
  }
}

h2 {
  font-size: 20px;
  line-height: 28px;

  @include tablet {
    font-size: 24px;
    line-height: 32px;
  }
}

h3,
a,
button {
  font-size: 13px;
  line-height: 20px;

  @include tablet {
    font-size: 14px;
    line-height: 22px;
  }
}

h4 {
  font-size: 11px;
  line-height: 16px;

  @include tablet {
    font-size: 12px;
    line-height: 18px;
  }
}

p {
  font-size: 15px;
  line-height: 26px;

  @include tablet {
    font-size: 16px;
    line-height: 28px;
  }
}

ul {
  list-style: none;
  padding-left: 0;
  color: $primary-color-instock-black;
}

a {
  text-decoration: none;
}
