@use "./Styles/mixins" as *;
@use "./Styles/variables" as *;
@use "./Styles/fonts" as *;

body {
  background-color: $background-grey;
  font-family: "Titillium";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-size: 28px;
  line-height: 36px;

  @include tablet {
    font-size: 32px;
    line-height: 40px;
  }
}

h2 {
  font-size: 20px;
  line-height: 28px;

  @include tablet {
    font-size: 24px;
    line-height: 32px;
  }
}

h3,
a,
button {
  font-size: 13px;
  line-height: 20px;

  @include tablet {
    font-size: 14px;
    line-height: 22px;
  }
}

h4 {
  font-size: 11px;
  line-height: 16px;
  font-weight: normal;

  @include tablet {
    font-size: 12px;
    line-height: 18px;
  }
}

p {
  font-size: 13px;
  line-height: 20px;

  @include tablet {
    font-size: 14px;
    line-height: 22px;
  }

  &.small {
    font-size: 11px;
    line-height: 16px;

    @include tablet {
      font-size: 12px;
      line-height: 18px;
    }
  }

  &.large {
    font-size: 15px;
    line-height: 26px;

    @include tablet {
      font-size: 16px;
      line-height: 28px;
    }
  }
}

ul {
  list-style: none;
  padding-left: 0;
  color: $primary-color-instock-black;
}

a {
  text-decoration: none;
}

button {
  border: none;
  border-radius: 20px;
  height: 36px;
  padding: 0 16px;
  width: 100%;

  &.primary-button {
    background-color: $primary-color-instock-indigo-blue;
    color: white;
  }

  @include tablet {
    height: 38px;
  }
}

input {
  border-radius: 20px;
  padding: 8px;
  margin-block-end: 1rem;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid $secondary-color-cloud;
  height: 36px;

  &.input__with-icon {
    background-position: right;
    background-repeat: no-repeat;
    padding-right: 40px;
    padding-left: 1rem;
    background-position-x: calc(100% - 1rem);
  }

  &:active {
    border: 1px solid $primary-color-instock-indigo-blue;
  }
}